@model IEnumerable<Sharenest.Models.ViewModels.Homes.HomesIndexViewModel>
@{
    ViewBag.Title = "Index";
}
<style>
    .panel {
        margin: 5px;    
    }
</style>

<div class="jumbotron">
    <h1>Find your new home</h1>
    <p>Are you looking for a place far away form home but feels like home?</p>
    <p>You are at the right place. ShareNest!</p>
</div>


<div class="row">
    @foreach (var home in Model)
    {
        <div class="panel col-md-4">
            <img class="img-thumbnail" src="@home." alt="Card image cap">
            <div class="panel-body">
                <h4 class="panel-title">@home.Name</h4>
                <p class="caption">@home.StartDate - @home.EndDate</p>
                @Html.ActionLink("View", "Details", new { id = home.Id }, new { @class = "btn btn-primary"})
            </div>
            <div class="panel-info">
                <small class="text-muted">Posted on @home.PostedDate</small>
            </div>
        </div>
    }
</div>